.application__header {
  padding: 28px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 63px 40px 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 0 66px;
  }
}

.application__title {
  margin: 0 0 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.application__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
