.logo-html {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;

  fill: #666666;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    align-items: center;

    gap: 24px;
  }

  & svg {
    width: 27px;
    height: 34px;
  }

  &:hover,
  &:focus {
    fill: #68b738;
  }

  &:focus-visible {
    fill: #68b738;

    outline: none;
  }
  @supports not selector(:focus-visible) {
    &:focus {
      fill: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
