.logo {
  display: block;
  width: fit-content;

  color: #111111;

  cursor: pointer;

  --color-logo-text: #111111;
  fill: currentColor;

  &--full {
    display: grid;
    align-items: center;

    column-gap: 56px;

    grid-template-columns: auto 1fr;

    @media (min-width: $tablet-width) {
      margin: 0;

      color: #444444;
      column-gap: 13px;
    }
  }

  &:hover {
    opacity: 80%;
  }

  &:focus-visible {
    opacity: 80%;
    outline: none;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      opacity: 80%;
      outline: none;
    }
  }

  &:active {
    opacity: 60%;
  }
}

.logo__cat-img {
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 60px;
  }
}

.logo__cat-text {
  display: block;
  width: 101px;
  height: 18px;
  fill: #111111;

  @media (min-width: $tablet-width) {
    fill: #444444;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo--footer {
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  &:hover {
    color: #3e3e3e;

    --color-logo-text: #3e3e3e;
  }

  &:focus-visible {
    color: #3e3e3e;

    --color-logo-text: #3e3e3e;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      color: #3e3e3e;

      outline: none;

      --color-logo-text: #3e3e3e;
    }
  }

  &:active {
    color: #6b6b6b;

    --color-logo-text: #6b6b6b;
  }
}

.logo__cat-footer {
  width: 128px;
  height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    fill: #111111;
  }
}
