.supplementary {
  padding: 0 0 36px;

  @media (min-width: $tablet-width) {
    padding: 70px 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 90px;
  }
}

.supplementary__title-main {
  position: relative;

  margin: 0 -20px 30px;
  overflow: hidden;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $ff-oswald;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0 -30px 75px;
    padding-left: 30px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -20px 73px;
  }

  @media (min-width: 1440px) {
    margin: 0 -8% 72px;
    padding-left: 5%;
  }

  &--lines span {
    position: relative;
    display: block;
    width: fit-content;
    padding: 0 20px 5px;
    @media (min-width: $tablet-width) {
      padding: 0 40px 5px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 36px 5px;
    }
  }

  &--lines span::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 22px;
      right: 100%;
      width: 100vw;
      height: 2px;
      background-color: #68b738;
    }

    @media (min-width: $desktop-width) {
      top: 22px;
    }
  }

  &--lines span::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 15px;

    height: 2px;
    width: 100vw;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}

.supplementary__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 80px;
    grid-template-columns: 1fr auto;
  }
}

.supplementary__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-rows: repeat(4, 1fr);
  }
}

.supplementary__item {
  display: grid;
  justify-content: space-between;
  align-items: baseline;

  padding: 12px 0 19px;
  grid-template-columns: auto auto;
  gap: 11px 20px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding: 24px 38px 29px;

    border: 1px solid #cdcdcd;
    border-bottom: none;

    grid-template-columns: 1fr 150px 70px;
    gap: 22px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 0 13px;

    gap: 18px 23px;

    grid-template-columns: 1fr 220px 60px 244px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.supplementary__title {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $ff-oswald;
  color: #222222;
  text-transform: uppercase;

  @media (max-width: 767px) {
    grid-column: 1 / -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.supplementary__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.supplementary__price {
  margin: 0;

  font-size: 14px;
  line-height: 20px;

  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.supplementary__link {
  @media (max-width: 1259px) {
    grid-column: 1 / -1;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    height: 40px;
  }
}

.supplementary__proposal {
  padding: 185px 42px 43px;
  margin-top: 33px;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../img/svg/icon-box.svg"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../img/cat-in-box@2x.jpg") 2x,
      url("../../img/cat-in-box.jpg") 1x
    );
  background-repeat: no-repeat;
  background-position: top 59px center, top, top;
  background-size: 78px 80px, auto, cover;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 200px;
    padding: 69px 20px 52px 60%;
    margin-top: 68px;

    text-align: left;
    background-image: url("../../img/svg/icon-box.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../img/cat-in-box-tablet@2x.jpg") 2x,
        url("../../img/cat-in-box-tablet.jpg") 1x
      );
    background-position: center left 80px, top, center;
    background-size: 80px 82px, auto, cover;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    padding: 187px 20px 26px;
    margin: 0;

    text-align: center;
    background-image: url("../../img/svg/icon-box.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../img/cat-in-box-desktop@2x.jpg") 2x,
        url("../../img/cat-in-box-desktop.jpg") 1x
      );
    background-position: top 59px center, top, center;
  }
}

.supplementary__text {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
